<div class="fields">
	<p>
		<%= f.label :size, "Size" %>: <%= f.text_field :size, :size=>4 %>
		<%= f.label :name, "Name" %>: <%= f.text_field :name %>
		<%= link_to_remove_fields "Remove Ingredient", f %>
	</p>
</div>