<h1><center>Recipe Listing</center></h1>
<div class= box>   
  <%= form_tag recipes_path, :method => 'get' do %>
  <p>
	<b>Search by Title or Category:</b>  
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Recipes", :name => nil %>
  </p>
<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th> Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title %></td>
    <td><%= recipe.recipe_kind.capitalize %></td>
    <td><%= recipe.created_at.strftime('%m/%d/%y') %></td>
    <td><%= link_to 'Show', recipe %></td>
    <% if logged_in? %>
		<% if recipe.owned_by? current_user %>
	    	<td> | <%= link_to 'Edit', edit_recipe_path(recipe) %> | </td>
	    	<td><%= link_to 'Delete', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
		<% else %>
         	<td></td>
			<td></td>		 
		<% end %> 		
	<% else %>
	
		<td></td>
		<td></td>
	<% end %> 
  </tr>
<% end %>

</table>
<% end %>
</div>
