<h1>Recipe Listing</h1>

<% form_tag recipes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Recipes", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title %></td>
    <td><%= recipe.recipe_kind.capitalize %></td>
    <td><%= recipe.created_at.strftime('%m/%d/%y') %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to "New Recipe", new_recipe_path %>