<div class="box">
	<p id="notice"><%= notice %></p>
	<br> </br>
	<br> </br>

	<div class="box2">
		<p>
		  <h1><%= @recipe.title %></h1>
		</p>
	</div>
	
	<p>
	  <b>Category:</b>
	  <%= @recipe.recipe_kind.capitalize %>
	</p>
	
	<p>
	  <u><b>Ingredients</b></u><br/>
		<table>
		<th>Measurement</th>
		<th>Ingredient</th>
		<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.size %></td> 
				<td><%= ingredient.name %></td>
			</tr>
		<% end %>
		</table>
	</p>

	<p>
	  <b>Instructions:</b><br/>
	  <%= @recipe.instructions %>
	</p>

	<p>
	  <b>Notes:</b><br/>
	  <%= @recipe.notes %>
	</p>

	<p>
	  <b>Published:</b>
	  <%= @recipe.created_at.strftime("%m/%d/%y") %> by <%= User.find_by_id(@recipe.user_id).email %>
	</p>
</div>

<%= link_to 'Back', recipes_path %>



