<h1><center>Contact Us</center></h1>

<%= form_for(:contact, :url => {:controller=>"sites", :action=>"contact"}, :html => { :class=>'wufoo' }) do |f| %>

	
	
	<ul>
		<li>
		  <%= f.label :name, :class=>'desc' %>
		  <div><%= f.text_field :name, :class=>'field text medium' %></div>
		  <p class="instruct">Let us know who you are.</p>
		</li>

		<li>
			<%= f.label :email, :class=>'desc' %>
			<div><%= f.text_field :email, :class=>'field text medium'%></div>
		    <p class="instruct">Let us know how we can reach you.</p>
		</li>

		<li>
			<%= f.label :message, :class=>'desc' %>
			<div><%= f.text_area :message, :class=>"field textarea medium" %></div>
		    <p class="instruct">What's on your mind?</p>
		</li>	
	</ul>
		<p>
			<center><%= submit_tag "Submit", :class => "submit" %></center>
		</p></br>
<% end %>
</div>