<h1><center>Contact Us</center></h1>
<div>
<%= form_for(:contact, :url => {:controller=>"sites", :action=>"contact"}) do |f| %>

	
	
	<ul>
		<li>
		  <%= f.label :name %>
		  <div><%= f.text_field :name %></div>
		  <p class="instruct">Let us know who you are.</p>
		</li>

		<li>
			<%= f.label :email %>
			<div><%= f.text_field :email %></div>
		    <p class="instruct">Let us know how we can reach you.</p>
		</li>

		<li>
			<%= f.label :message %>
			<div><%= f.text_area :message %></div>
		    <p class="instruct">What's on your mind?</p>
		</li>	
	</ul>
		<p>
			<center><%= submit_tag "Submit", :class => "submit" %></center>
		</p></br>
<% end %>
</div>