<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag 'scaffold.css' %>
  <%= javascript_include_tag 'jquery-1.4.4.min.js', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>

<%= yield %>

</body>
</html>
